#container {
    height: 100vh;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    color: black;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 34vh
 }

td {
    padding: 10px;
    text-align: center;
}

iframe {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 40vw;
}
td iframe {
    max-width: 40vw;
    max-height: 40vh;
    margin: 10px auto;
    justify-content: center;
}
footer {
    bottom: 0;
}